body
{
	margin:0;
	padding:10px;
	background-color:#CCC;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	width:auto;
	font-size:12px;
	text-align:center;
}

#content
{
	width:100%;
	height:100%;
}